body {
    background-color: rgb(78, 78, 78);
    font-family: Monospace;
}
b {
    color: red;
}

p{
    padding-left: 25px;
}

h1 {
    padding-left: 20px;
    font-size: 45px;
    font-family: 'Cutive Mono', Monospace;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2 {
    padding-left: 15px;
    margin-bottom: 0px;

}

h4 {
    font-size: 16px;
    padding-left: 15px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 30px;

}

h5 {
    font-size: 14px;
    padding-left: 15px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

ol {
    list-style-type: none;
    padding-left: 25px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

hr {
    width: 70%;
}


.mainContainerX {
    width: 800px;
    margin: auto;
    background: linear-gradient(40deg,
    rgb(126, 236, 204) 0%,
    rgb(82, 82, 82) 40%,
    rgb(126, 236, 204) 50%,
    rgb(83, 227, 224) 60%,
    rgb(82, 82, 82) 85%,
    rgb(82, 82, 82) 95%,
    rgb(126, 236, 204) 100%);
    

}

.mainContainer {
    width: 800px;
    margin: auto;
    background: linear-gradient(180deg, 
    rgba(54, 54, 54, 0.226),
    rgb(54, 54, 54) 18%,
    rgb(54, 54, 54) 18.8%,
    rgba(255, 251, 0, 0) 20.8%,
    rgb(0, 0, 0) 20%,
    rgb(54, 54, 54) 21%,
    rgb(54, 54, 54) 21.7%,
    rgb(0, 0, 0) 22%,
    rgb(255, 255, 255) 22.1%);
}

.bodyContainer {
    display: flex;
}

.header {
    height: 240px;
    display: flex;
    justify-content: space-between;
    border: rgb(0, 0, 0) 4px ridge;

    color: whitesmoke;
}

.headerRight {
    width: 250px;
    text-align: end;
    
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    padding-top: 5px;
}

.infoBox {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.changeStyle {
    color: black;
    font-style: inherit;
    font-family: 'Cutive Mono';
}

.leftBox {
    width:70%;
    border: rgb(0, 0, 0) 4px ridge;
    border-top: none;
    font-family: 'Cutive Mono', Monospace;
    background-color: whitesmoke;
}

.leftBox ul {
    list-style-type: square;
    color: aquamarine;
}

.rightBox {
    width:30%;
    background-color: rgb(40, 167, 129);
    color: whitesmoke;
    border: rgb(0, 0, 0) 4px ridge;
    border-top: none;
    border-left: none;
}

